<header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar bg-primary">
<div class="container-md">
    <a class="navbar-brand" href="#">Sri Lanka Railways</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item active">
          <button type="button" class="btn btn-light">Sign In</button>
        </li>
      </ul>
    </div>
  </div>
  </header>